.password_strength_bars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.strength_bar {
    flex: 0.25;
    height: 4px;
    background-color: var(--background_dark);
}
